<h3>You registered!</h3>
<p>Hi {{ fullName }}! You're successfully registered.</p>
<p>Your username: {{ email }}</p>
<p>Your password: {{ plainPassword }}</p>
<p>To login, go to: <a href="{{ url('app_admin_security_login') }}">login page</a>.</p>