###> docker configuration ###
HOST_UID=1001
HTTP_PORT=10088
SSH_PORT=10022
PGSQL_PORT=10006
DOCKER_REDIS_PORT=10079
OAUTH_KEY=69240d8f330928405afdc41f8f9122080b747af0
XDEBUG_IDE_IP=10.8.x.x
COMPOSE_PROJECT_NAME=api-bollerplate
###< docker configuration ###
