{
  "development": {
    "basePath": "http://localhost:10088",
    "bearer": ""
  },
  "production": {
    "basePath": "",
    "bearer": ""
  },
  "live-aws": {
    "basePath": "",
    "bearer": ""
  }
}
