includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	excludes_analyse:
		- %rootDir%/../../../database/Migrations/*
		- %rootDir%/../../../tests/*/data/*
	doctrine:
		objectManagerLoader: config/object-manager.php
