# For a quick start check out our HTTP Requests collection (Tools|HTTP Client|Open HTTP Requests Collection).
#
# Following HTTP Request Live Templates are available:
# * 'gtrp' and 'gtr' create a GET request with or without query parameters;
# * 'ptr' and 'ptrp' create a POST request with a simple or parameter-like body;
# * 'mptr' and 'fptr' create a POST request to submit a form with a text or file field (multipart/form-data);

### Login
POST {{basePath}}/api/login-check
Content-Type: application/json
Accept: application/json

{
  "username": "user@fixtures.com",
  "password": "user@fixtures.com"
}

###

### GET Profile
GET {{basePath}}/api/profile
Content-Type: application/json
Accept: application/json
Authorization: Bearer {{bearer}}

###

### Create some entity
POST {{basePath}}/api/<some entity>s
Content-Type: application/json
Accept: application/json
Authorization: Bearer {{bearer}}

{
  "key": "value"
}

###
