{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" id="main" style="height: 100vh;">
        <h1 class="mr-3 align-top inline-block align-content-center">403</h1>
        <div class="inline-block align-middle border-left pl-3">
            <h2 class="font-weight-normal lead" id="desc">You don't have access to this page.</h2>
            <a href="/" class="btn btn-link mb-0 pb-0">Back to Home</a>
        </div>
    </div>
{% endblock %}
